* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one {
  height: 350px;
  width: 100vw;
  background-color: #1f2937;
  padding: 10px 10%;
  padding-bottom: 20px;
  flex: initial;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: none;
  margin-bottom: auto;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.website-intro {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex: initial;
  margin-bottom: 50px;
}

.web-description {
  display: flex;
  min-width: 20rem;
  max-width: 21rem;
  flex-direction: column;
  gap: 15px;
  flex: initial;
}

.web-description h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  flex: initial;
}

.web-description p {
  font-size: 18px;
  font-style: italic;
  color: #e5e7eb;
  text-align: justify;
}

.web-description button {
  align-self: flex-start;
  font-weight: bold;
  color: #e5e7eb;
  background-color: #3882f6;
  border: none;
  border-radius: 7px;
  padding: 7px 15px;
}

.image-placeholder {
  background-color: #646b73;
  padding: 20px;
  max-width: 500px;
  color: #e5e7eb;
  height: 100%px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.two {
  height: 300px;
  width: 100vw;
  padding: 10px 10%;
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: auto;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  display: flex;
  width: 100%;
  /* outline: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  flex: auto;
}

.info-box {
  display: flex;
  width: 150px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex: initial;
}

.box {
  /* border: 1px solid #3882f6; */
  width: 100px;
  height: 100px;
  border-radius: 15px;
  box-shadow: 0 0 3px #3882f6;
}

.ifno {
  text-align: center;
}

.three {
  height: 300px;
  width: 100vw;
  flex: initial;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.source {
  align-self: space-between;
  margin-left: 100px;
}

.four {
  height: 300px;
  width: 100vw;
  flex: initial;
  display: flex;
  flex-direction: column;
}

.call {
  width: 100%;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  width: 600px;
  padding: 20px;
  border-radius: 15px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #e5e7eb;
  flex: none;
}
.alert {
  color: #f9faf8;
  font-weight: 900;
}

.action button {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #3882f6;
  padding: 7px 20px;
  color: #e5e7eb;
}

.footer {
  background-color: #1f2937;
  height: 50px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
